// Huvudfilen som importerar alla SCSS-filer

/* === main.scss === */

@import 'partials/variables';
@import 'partials/mixins';
@import 'partials/media';
@import 'partials/header';
@import 'partials/footer';
@import 'partials/events';
@import 'partials/habits';
@import 'partials/home';
@import 'partials/index';
@import 'partials/login';
@import 'partials/tasks';



body {
    background-color: #f3f2ee;
    color: #000000;
    font-family: 'Roboto';
    text-align: center;
    margin: 0;
    padding: 0;
  }


  main {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }



 
  